{% extends 'base.html.twig' %}

{% block title %}Odmowa dostępu :: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        Ten plik jest dostępny wyłącznie dla zalogowanych użytkowników.
    </div>
{% endblock %}