{% extends 'base.html.twig' %}

{% block title %}Odmowa dostępu :: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        Niestety nie masz uprawnień, aby zobaczyć tę stronę. Jeżeli uważasz, że nie powinno tak być, spróbuj zalogować się
        ponownie bądź skontaktuj się z administratorem.
    </div>
{% endblock %}