{% extends 'base.html.twig' %}

{% block title %}Odmowa dostępu :: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 style="text-align: center">Strona której szukasz nie istnieje</h3>
        <br>
        <div class="mx-auto" style="width: 350px;">
            <img class="" src="/img/else/sad.gif" alt="Smutek" style="float: inside">
        </div>
        <br>
    </div>
{% endblock %}