<!-- Footer -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<footer class="page-footer font-small bg-primary pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left text-secondary">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 mr-auto my-md-4 my-0 mt-4 mb-1">

                <div class="row pl-2">
                    <a href="/"><img src="/img/logo/RKN/RKN.png" style="height: 80px"></a>
                    <br><br>
                </div>
                <br>
                <h5 class="font-weight-bold text-uppercase mb-1">Zobacz też</h5>
                <br>
                <div class="row">
                    <div class="col">
                        <a href="https://www.pw.edu.pl"><img src="/img/logo/PW/znak-pw.png" style="height: 50px"></a>
                    </div>
                    <div class="col">
                        <a href="https://sspw.pl"><img src="/img/logo/SSPW/SSPW.png" style="height: 50px"></a>
                    </div>
                </div>
            </div>


            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Kontakt</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fa fa-home mr-3"></i> Warszawa, ul. Rektorska 4/3.15
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-envelope mr-3"></i> zarzad@rkn.pw.edu.pl
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-phone mr-3"></i> + 0 22 234 50 10
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-mobile-alt mr-3"></i> + 48 781 150 922
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Obserwuj Nas</h5>

                <!-- Lista mailingowa -->
                    <a class="text-secondary" href="http://listy.samorzad.pw.edu.pl/mailman/listinfo/kola" style="text-decoration: none"><i class="fas fa-envelope-square fa-2x"></i><br></a>
                <!-- Facebook -->
                <a class="text-secondary" href="https://web.facebook.com/rknpw" style="text-decoration: none"><i class="fab fa-facebook-square fa-2x"></i><br></a>

                <!-- Twitter -->
                <a class="text-secondary" href="https://twitter.com/rkn_pw" style="text-decoration: none"> <i class="fab fa-twitter-square fa-2x"></i><br></a>
                <!-- Youtube -->
                <a class="text-secondary" href="https://www.youtube.com/channel/UC18t3oal-5cmDhtX3u3i37Q" style="text-decoration: none"><i class="fab fa-youtube-square fa-2x"></i><br></a>
                <!-- Instagram -->
                <a class="text-secondary" href="https://instagram.com/rkn_pw" style="text-decoration: none"><i class="fab fa-instagram fa-2x"></i></a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright bg-secondary text-light mt-0 mb-0" style="height: 30px; text-align: center">© 2018 Copyright: A.T.M.
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->